app_remuneracao/pkgs/Wadl/EmaildeGruposdoOffice365.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/office365groupsmail" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EmaildeGruposdoOffice365" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Email de Grupos do Office 365">O conector Email de Grupos do Office 365 permite que os usuários trabalhem com dados localizados em uma caixa de correio do Grupo do Office 365. A funcionalidade deste conector funciona de forma independente da caixa de correio pessoal de um único usuário e permite que os usuários trabalhem com qualquer Grupo que eles possam acessar em sua organização. O conector funciona com a API Do Microsoft Graph e usa a terminologia especificada em uma documentação de Grupos do Office 365 na API do Graph. Saiba mais na documentação do conector.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/office365groupsmail" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Conversation_id_def" />
      <string name="Conversation_topic_def" />
      <boolean name="Conversation_hasAttachments_def" />
      <dateTimeString name="Conversation_lastDeliveredDateTime_def" />
      <string name="Conversation_uniqueSenders_def_items_def" />
      <array type="string" name="Conversation_uniqueSenders_def" />
      <string name="Conversation_preview_def" />
      <array typeRef="ConversationThread" name="Conversation_threads_def" />
      <object name="Conversation">
        <property name="id" type="string" />
        <property name="topic" type="string" />
        <property name="hasAttachments" type="boolean" />
        <property name="lastDeliveredDateTime" typeRef="Conversation_lastDeliveredDateTime_def" />
        <property name="uniqueSenders" typeRef="Conversation_uniqueSenders_def" />
        <property name="preview" type="string" />
        <property name="threads" typeRef="Conversation_threads_def" />
      </object>
      <string name="ConversationThread_id_def" />
      <string name="ConversationThread_topic_def" />
      <boolean name="ConversationThread_hasAttachments_def" />
      <dateTimeString name="ConversationThread_lastDeliveredDateTime_def" />
      <string name="ConversationThread_uniqueSenders_def_items_def" />
      <array type="string" name="ConversationThread_uniqueSenders_def" />
      <string name="ConversationThread_preview_def" />
      <boolean name="ConversationThread_isLocked_def" />
      <array typeRef="EmailAddress" name="ConversationThread_toRecipients_def" />
      <array typeRef="EmailAddress" name="ConversationThread_ccRecipients_def" />
      <array typeRef="Post" name="ConversationThread_posts_def" />
      <object name="ConversationThread">
        <property name="id" type="string" />
        <property name="topic" type="string" />
        <property name="hasAttachments" type="boolean" />
        <property name="lastDeliveredDateTime" typeRef="ConversationThread_lastDeliveredDateTime_def" />
        <property name="uniqueSenders" typeRef="ConversationThread_uniqueSenders_def" />
        <property name="preview" type="string" />
        <property name="isLocked" type="boolean" />
        <property name="toRecipients" typeRef="ConversationThread_toRecipients_def" />
        <property name="ccRecipients" typeRef="ConversationThread_ccRecipients_def" />
        <property name="posts" typeRef="ConversationThread_posts_def" />
      </object>
      <string name="Post_id_def" />
      <dateTimeString name="Post_createdDateTime_def" />
      <dateTimeString name="Post_lastModifiedDateTime_def" />
      <string name="Post_changeKey_def" />
      <string name="Post_conversationId_def" />
      <string name="Post_conversationThreadId_def" />
      <string name="Post_categories_def_items_def" />
      <array type="string" name="Post_categories_def" />
      <dateTimeString name="Post_receivedDateTime_def" />
      <boolean name="Post_hasAttachments_def" />
      <array typeRef="EmailAddress" name="Post_newParticipants_def" />
      <array typeRef="Attachment" name="Post_attachments_def" />
      <object name="Post">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="Post_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="Post_lastModifiedDateTime_def" />
        <property name="changeKey" type="string" />
        <property name="conversationId" type="string" />
        <property name="conversationThreadId" type="string" />
        <property name="categories" typeRef="Post_categories_def" />
        <property name="receivedDateTime" typeRef="Post_receivedDateTime_def" />
        <property name="hasAttachments" type="boolean" />
        <property name="newParticipants" typeRef="Post_newParticipants_def" />
        <property name="body" typeRef="ItemBody" />
        <property name="from" typeRef="EmailAddress" />
        <property name="sender" typeRef="EmailAddress" />
        <property name="attachments" typeRef="Post_attachments_def" />
      </object>
      <string name="Attachment_id_def" />
      <string name="Attachment_name_def" />
      <string name="Attachment_contentType_def" />
      <integer name="Attachment_size_def" />
      <base64Binary name="Attachment_contentBytes_def" />
      <object name="Attachment">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="contentType" type="string" />
        <property name="size" type="integer" />
        <property name="contentBytes" typeRef="Attachment_contentBytes_def" />
      </object>
      <string name="EmailAddress_emailAddress_def_name_def" />
      <string name="EmailAddress_emailAddress_def_address_def" />
      <object name="EmailAddress_emailAddress_def">
        <property name="name" type="string" />
        <property name="address" type="string" />
      </object>
      <object name="EmailAddress">
        <property name="emailAddress" typeRef="EmailAddress_emailAddress_def" />
      </object>
      <string name="ItemBody_contentType_def" />
      <string name="ItemBody_content_def" />
      <object name="ItemBody">
        <property name="contentType" type="string" />
        <property name="content" type="string" />
      </object>
      <object name="ReplyConversationThreadBody">
        <property name="post" typeRef="NewPostBody" />
      </object>
      <string name="ForwardPostBody_comment_def" />
      <array typeRef="GetUsers__GraphAction" name="ForwardPostBody_toRecipients_def" />
      <object name="ForwardPostBody">
        <property name="comment" type="string" />
        <property name="toRecipients" typeRef="ForwardPostBody_toRecipients_def" />
      </object>
      <string name="ForwardPost_V2Body_Comment_def" />
      <array typeRef="GetUsers__GraphAction" name="ForwardPost_V2Body_ToRecipients_def" />
      <object name="ForwardPost_V2Body">
        <property name="Comment" type="string" />
        <property name="ToRecipients" typeRef="ForwardPost_V2Body_ToRecipients_def" />
      </object>
      <string name="CreateConversationBody_topic_def" />
      <object name="CreateConversationBody">
        <property name="topic" type="string" />
        <property name="post" typeRef="NewPostBody" />
      </object>
      <string name="NewPostBody_body_def_content_def" />
      <string name="NewPostBody_body_def_contentType_def" />
      <object name="NewPostBody_body_def">
        <property name="content" type="string" />
        <property name="contentType" type="string" />
      </object>
      <string name="NewPostBody_categories_def_items_def" />
      <array type="string" name="NewPostBody_categories_def" />
      <array typeRef="GetUsers__GraphAction" name="NewPostBody_newParticipants_def" />
      <array typeRef="ClientSendAttachment" name="NewPostBody_attachments_def" />
      <object name="NewPostBody">
        <property name="body" typeRef="NewPostBody_body_def" />
        <property name="categories" typeRef="NewPostBody_categories_def" />
        <property name="newParticipants" typeRef="NewPostBody_newParticipants_def" />
        <property name="attachments" typeRef="NewPostBody_attachments_def" />
      </object>
      <string name="GetUsers__GraphAction_EmailAddress_def_Address_def" />
      <object name="GetUsers__GraphAction_EmailAddress_def">
        <property name="Address" type="string" />
      </object>
      <object name="GetUsers__GraphAction">
        <property name="EmailAddress" typeRef="GetUsers__GraphAction_EmailAddress_def" />
      </object>
      <string name="CreateConversationResponse__ux40_odata_context_def" />
      <string name="CreateConversationResponse_id_def" />
      <string name="CreateConversationResponse_threads_ux40_odata_context_def" />
      <string name="CreateConversationResponse_threads_def_items_def_id_def" />
      <object name="CreateConversationResponse_threads_def_items_def">
        <property name="id" type="string" />
      </object>
      <array typeRef="CreateConversationResponse_threads_def_items_def" name="CreateConversationResponse_threads_def" />
      <object name="CreateConversationResponse">
        <property name="@odata.context" type="string" />
        <property name="id" type="string" />
        <property name="threads@odata.context" type="string" />
        <property name="threads" typeRef="CreateConversationResponse_threads_def" />
      </object>
      <string name="NewConversationThreadResponse__ux40_odata_context_def" />
      <string name="NewConversationThreadResponse_id_def" />
      <object name="NewConversationThreadResponse">
        <property name="@odata.context" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="ClientSendAttachment__ux40_odata_type_def" />
      <string name="ClientSendAttachment_Name_def" />
      <base64Binary name="ClientSendAttachment_ContentBytes_def" />
      <object name="ClientSendAttachment">
        <property name="@odata.type" type="string" />
        <property name="Name" type="string" />
        <property name="ContentBytes" typeRef="ClientSendAttachment_ContentBytes_def" />
      </object>
      <string name="ConversationTriggerResponse_id_def" />
      <dateTimeString name="ConversationTriggerResponse_lastDeliveredDateTime_def" />
      <array typeRef="ConversationThreadTriggerResponse" name="ConversationTriggerResponse_threads_def" />
      <object name="ConversationTriggerResponse">
        <property name="id" type="string" />
        <property name="lastDeliveredDateTime" typeRef="ConversationTriggerResponse_lastDeliveredDateTime_def" />
        <property name="threads" typeRef="ConversationTriggerResponse_threads_def" />
      </object>
      <string name="ConversationThreadTriggerResponse_id_def" />
      <array typeRef="PostTriggerResponse" name="ConversationThreadTriggerResponse_posts_def" />
      <object name="ConversationThreadTriggerResponse">
        <property name="id" type="string" />
        <property name="posts" typeRef="ConversationThreadTriggerResponse_posts_def" />
      </object>
      <string name="PostTriggerResponse_id_def" />
      <dateTimeString name="PostTriggerResponse_lastModifiedDateTime_def" />
      <string name="PostTriggerResponse_changeKey_def" />
      <object name="PostTriggerResponse">
        <property name="id" type="string" />
        <property name="lastModifiedDateTime" typeRef="PostTriggerResponse_lastModifiedDateTime_def" />
        <property name="changeKey" type="string" />
      </object>
      <string name="ListConversations_responses_200_def__ux40_odata_nextLink_def" />
      <array typeRef="Conversation" name="ListConversations_responses_200_def_value_def" />
      <object name="ListConversations_responses_200_def">
        <property name="@odata.nextLink" type="string" />
        <property name="value" typeRef="ListConversations_responses_200_def_value_def" />
      </object>
      <string name="ListConversationThreads_responses_200_def__ux40_odata_nextLink_def" />
      <string name="ListConversationThreads_responses_200_def__ux40_odata_context_def" />
      <array typeRef="ConversationThread" name="ListConversationThreads_responses_200_def_value_def" />
      <object name="ListConversationThreads_responses_200_def">
        <property name="@odata.nextLink" type="string" />
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListConversationThreads_responses_200_def_value_def" />
      </object>
      <string name="ListGroupThreads_responses_200_def__ux40_odata_nextLink_def" />
      <array typeRef="ConversationThread" name="ListGroupThreads_responses_200_def_value_def" />
      <object name="ListGroupThreads_responses_200_def">
        <property name="@odata.nextLink" type="string" />
        <property name="value" typeRef="ListGroupThreads_responses_200_def_value_def" />
      </object>
      <string name="ListThreadPosts_responses_200_def__ux40_odata_nextLink_def" />
      <string name="ListThreadPosts_responses_200_def__ux40_odata_context_def" />
      <array typeRef="Post" name="ListThreadPosts_responses_200_def_value_def" />
      <object name="ListThreadPosts_responses_200_def">
        <property name="@odata.nextLink" type="string" />
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListThreadPosts_responses_200_def_value_def" />
      </object>
      <string name="GetAttachments_responses_200_def__ux40_odata_nextLink_def" />
      <string name="GetAttachments_responses_200_def__ux40_odata_context_def" />
      <array typeRef="Attachment" name="GetAttachments_responses_200_def_value_def" />
      <object name="GetAttachments_responses_200_def">
        <property name="@odata.nextLink" type="string" />
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="GetAttachments_responses_200_def_value_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/office365groupsmail">
    <resource path="/{connectionId}/v1.0/groups/{groupId}/conversations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListConversations" siena:isDeprecated="false">
        <doc title="Listar as conversas de um grupo&#xA;Obtenha todas as conversas deste grupo." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListConversations_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/conversations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateConversation" siena:isDeprecated="false">
        <doc title="Criar uma nova conversa em um grupo&#xA;Crie uma nova conversa neste grupo." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="topic" path="/topic" type="xs:string" required="true" />
            <param style="plain" name="post" path="/post" type="service:NewPostBody" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateConversationResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/conversations/{conversationId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="conversationId" type="xs:string" required="true">
        <doc title="Insira a ID da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetGroupConversation" siena:isDeprecated="false">
        <doc title="Obter uma conversa de grupo&#xA;Recupera as propriedades de uma conversa específica." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:Conversation" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/conversations/{conversationId}/threads">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="conversationId" type="xs:string" required="true">
        <doc title="Insira a ID da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListConversationThreads" siena:isDeprecated="false">
        <doc title="Listar os threads de uma conversa&#xA;Obtenha todos os threads em uma conversa de grupo." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListConversationThreads_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/conversations/{conversationId}/threads">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="conversationId" type="xs:string" required="true">
        <doc title="Insira a ID da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateConversationThread" siena:isDeprecated="false">
        <doc title="Criar um thread de conversa&#xA;Crie um novo thread na conversa especificada." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="topic" path="/topic" type="xs:string" required="true" />
            <param style="plain" name="post" path="/post" type="service:NewPostBody" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:NewConversationThreadResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListGroupThreads" siena:isDeprecated="false">
        <doc title="Listar os threads de um grupo&#xA;Obtenha todos os threads de um grupo." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListGroupThreads_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateGroupThread" siena:isDeprecated="false">
        <doc title="Iniciar uma nova conversa de grupo criando um thread&#xA;Inicie uma nova conversa de grupo criando um thread primeiro." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="topic" path="/topic" type="xs:string" required="true" />
            <param style="plain" name="post" path="/post" type="service:NewPostBody" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:NewConversationThreadResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetConversationThread" siena:isDeprecated="false">
        <doc title="Obter um thread da conversa&#xA;Obtenha um thread específico que pertence a um grupo." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ConversationThread" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteConversationThread" siena:isDeprecated="false">
        <doc title="Excluir um thread de conversa&#xA;Exclui o thread de conversa especificado." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListThreadPosts" siena:isDeprecated="false">
        <doc title="Listar as postagens de um thread de conversa&#xA;Obtenha todas as postagens do thread de conversa especificado." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListThreadPosts_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <param style="template" name="postId" type="xs:string" required="true">
        <doc title="Insira a ID da postagem." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetThreadPost" siena:isDeprecated="false">
        <doc title="Obter uma postagem do thread&#xA;Recupera uma postagem em um thread especificado." />
        <request>
          <param style="query" name="$expand" type="xs:string" required="true" fixed="attachments" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:Post" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/attachments">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <param style="template" name="postId" type="xs:string" required="true">
        <doc title="Insira a ID da postagem." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAttachments" siena:isDeprecated="false">
        <doc title="Listar os anexos de uma postagem&#xA;Recupere uma lista de anexos que pertencem a uma postagem." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetAttachments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/reply">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ReplyToAThread" siena:isDeprecated="false">
        <doc title="Responder a um thread de conversa&#xA;Responda a um thread em uma conversa de grupo e adicione uma nova postagem a ela." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="post" path="/post" type="service:NewPostBody" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/reply">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <param style="template" name="postId" type="xs:string" required="true">
        <doc title="Insira a ID da postagem." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ReplyPost" siena:isDeprecated="false">
        <doc title="Responder a uma postagem&#xA;Responda a uma postagem e adicione uma nova postagem ao thread especificado em uma conversa de grupo." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="post" path="/post" type="service:NewPostBody" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/groups/{groupMail}/conversations/{conversationId}/threads/{threadId}/posts/{postId}/forward">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupMail" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite o endereço de email do grupo." />
      </param>
      <param style="template" name="conversationId" type="xs:string" required="true">
        <doc title="Insira a ID da conversa." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <param style="template" name="postId" type="xs:string" required="true">
        <doc title="Insira a ID da postagem." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ForwardPostV2" siena:isDeprecated="false" siena:family="ForwardPost" siena:revision="2" siena:status="Preview">
        <doc title="Encaminhar uma postagem&#xA;Encaminhe uma postagem a um destinatário." />
        <request>
          <param style="header" name="Prefer" type="xs:string" required="true" fixed="exchange.behavior=&quot;ForwardPostWithMessage&quot;" />
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="Comment" path="/Comment" type="xs:string" />
            <param style="plain" name="ToRecipients" path="/ToRecipients" type="service:ForwardPost_V2Body_ToRecipients_def" required="true" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/forward">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="groupId" type="xs:string" required="true">
        <doc title="Escolha um grupo na lista suspensa ou digite a ID do grupo." />
      </param>
      <param style="template" name="threadId" type="xs:string" required="true">
        <doc title="Insira a ID do thread da conversa." />
      </param>
      <param style="template" name="postId" type="xs:string" required="true">
        <doc title="Insira a ID da postagem." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ForwardPost" siena:isDeprecated="true" siena:family="ForwardPost" siena:revision="1" siena:status="Preview">
        <doc title="Encaminhar uma postagem&#xA;Encaminhe uma postagem a um destinatário." />
        <request>
          <param style="header" name="content-type" type="xs:string" required="true" fixed="application/json" />
          <representation mediaType="application/json">
            <param style="plain" name="comment" path="/comment" type="xs:string" />
            <param style="plain" name="toRecipients" path="/toRecipients" type="service:ForwardPostBody_toRecipients_def" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_office365groupsmail" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>