app_remuneracao/pkgs/Wadl/EnviarEmail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EnviarEmail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="EnviarEmail" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Inicializarvari_uxE1_vel_Valor_def" />
      <string name="ManualTriggerInput_Inicializarvari_uxE1_vel_Valor_1_def" />
      <string name="ManualTriggerInput_email_Valor_def" />
      <string name="ManualTriggerInput_tipoemail_Valor_def" />
      <string name="ManualTriggerInput_textoemail_Valor_def" />
      <object name="ManualTriggerInput">
        <property name="Inicializarvariável_Valor" type="string" />
        <property name="Inicializarvariável_Valor_1" type="string" />
        <property name="email_Valor" type="string" />
        <property name="tipoemail_Valor" type="string" />
        <property name="textoemail_Valor" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Inicializarvariável_Valor" path="/Inicializarvariável_Valor" type="xs:string" required="true" />
            <param style="plain" name="Inicializarvariável_Valor_1" path="/Inicializarvariável_Valor_1" type="xs:string" required="true" />
            <param style="plain" name="email_Valor" path="/email_Valor" type="xs:string" required="true" />
            <param style="plain" name="tipoemail_Valor" path="/tipoemail_Valor" type="xs:string" required="true" />
            <param style="plain" name="textoemail_Valor" path="/textoemail_Valor" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>